doctype html
html
	head
		title= 'rest-race'
		link(href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css' rel='stylesheet')
		block styles

	body
		header(class= 'hero is-light')
			div(class= 'hero-body')
				div(class= 'container')
					div(class= 'level')
						div(class= 'level-left')
							div
								h1(class= 'title')= 'Rest Race'
								h2(class= 'subtitle')= 'Manage Interface'
						div(class= 'level-right')
							div(class= 'level')
								block auth
									a(class= 'button normal level-item' href= '/login')= 'Login'

		section(class= 'section main-section')
			div(class= 'container')
				if notifications
					each messages, level in notifications
						div(class= 'notification is-' +  level)= messages
						
				block content

		footer(class= 'footer')
			div(class= 'container')
				div(class= 'content has-text-centered')
					p= 'Rest Race, by ...'
			
		block scripts	  				
			script(src='bundle.js')