doctype html
html
	head
		title= 'rest-race'
		link(href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css' rel='stylesheet')
		block styles

	body
		header
			nav(class= 'nav has-shadow')
				div(class= 'container')
					div(class= 'nav-left')
						a(class= 'nav-item' href= '/')= 'RestRace'
					div(class= 'nav-right')
						block auth
							if user
								a(class= 'nav-item is-tab' href= '/me')= user.local.username
								a(class= 'nav-item is-tab' href= '/logout')= i18n('Logout')
							else
								a(class= 'nav-item is-tab' href= '/login')= 'Login'

		block precontent
			
		section(class= 'section main-section')
			div(class= 'container')
				if notifications
					each messages, level in notifications
						div(class= 'notification is-' +  level)= messages
				
				if user && user.roles.includes('admin')
					div(class= 'columns')
						div(class= 'column is-one-quarter')
							aside(class= 'menu')
								p(class= 'label')= 'Admin'
								ul(class= 'menu-list')
									li
										a(href= '/admin/users')= 'Users Overview'
						div(class= 'column')
							block content
				else
					block content

		footer(class= 'footer')
			div(class= 'container')
				div(class= 'content has-text-centered')
					p= i18n('RestRace by Tom van Nimwegen & Luuk Spierings')
			
		block scripts	  				
			script(src='/bundle.js')