doctype html
html
	head
		title= 'rest-race'
		link(href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css' rel='stylesheet')
		block styles

	body
		header
			nav(class= 'nav has-shadow')
				div(class= 'container')
					div(class= 'nav-left')
						a(class= 'nav-item' href= '/')= 'RestRace'
					div(class= 'nav-right')
						block auth
							a(class= 'nav-item is-tab' href= '/login')= 'Login'

		block precontent
			
		section(class= 'section main-section')
			div(class= 'container')
				if notifications
					each messages, level in notifications
						div(class= 'notification is-' +  level)= messages
						
				block content

		footer(class= 'footer')
			div(class= 'container')
				div(class= 'content has-text-centered')
					p= 'Rest Race, by ...'
			
		block scripts	  				
			script(src='bundle.js')