extends layout.pug

block content
	div(class= 'card')
		div(class= 'card-content')
			p(class= 'title is-2')= user.local.username
			if user.firstname || user.lastname
				p(class= 'subtitle')= (user.firstname || '') + ' ' +  (user.lastname || '')
			div(class= 'content')
				div(class= 'block')
					each role in user.roles
						span(class= 'tag is-info is-medium')= i18n(role)
				div(class= 'block')
					if user.hasFacebook
						a(class= 'button' href= '/auth/facebook')= i18n('Unlink Facebook Account')
					else
						a(class= 'button' href= '/auth/facebook')= i18n('Link Facebook Account')